{% extends 'base_front.html.twig' %}

{% block title %}Toutes nos annonces{% endblock %}

{% block body %}
<main class="max-w-7xl mx-auto px-4 sm:px-8 py-8">
    <h1 class="text-3xl font-semibold text-gray-900 tracking-wide mb-8">Toutes nos annonces</h1>
    <div class="">
        {{ form_start(form) }}
            <div class="grid grid-cols-1 sm:grid-cols-6 gap-2 sm:items-end">
                <div class="">
                    <label for="" class="block text-sm font-medium text-gray-700">Type de bien</label>
                    <div class="mt-1">
                        {{ form_row(form.type, { attr: { class: "shadow-sm border focus:outline-none block w-full sm:text-sm border-gray-300 rounded-md py-2 px-3" } }) }}
                    </div>
                </div>
                <div>
                    <label for="" class="block text-sm font-medium text-gray-700">Catégorie</label>
                    <div class="mt-1">
                        {{ form_row(form.categories, { attr: { class: "shadow-sm border focus:outline-none block w-full sm:text-sm border-gray-300 rounded-md py-2 px-3" } }) }}
                    </div>
                </div>
                <div>
                    <label for="" class="block text-sm font-medium text-gray-700">Ville</label>
                    <div class="mt-1">
                        {{ form_row(form.city, { attr: { class: "shadow-sm border focus:outline-none block w-full sm:text-sm border-gray-300 rounded-md py-2 px-3" } }) }}
                    </div>
                </div>
                <div>
                    <label for="" class="block text-sm font-medium text-gray-700">Prix minimum</label>
                    <div class="mt-1">
                        {{ form_row(form.minPrice, { attr: { class: "shadow-sm border focus:outline-none block w-full sm:text-sm border-gray-300 rounded-md py-2 px-3" } }) }}
                    </div>
                </div>
                <div>
                    <label for="" class="block text-sm font-medium text-gray-700">Prix maximum</label>
                    <div class="mt-1">
                        {{ form_row(form.maxPrice, { attr: { class: "shadow-sm border focus:outline-none block w-full sm:text-sm border-gray-300 rounded-md py-2 px-3" } }) }}
                    </div>
                </div>
                <div>
                    <div class="w-full flex items-end space-x-1">
                        <button type="submit" class="inline-flex items-center px-12 py-1.5 border border-gray-300 shadow-sm text-base tracking-wide font-medium rounded-md text-white bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Filtrer
                        </button>
                        {% if app.user and app.request.query.all is not empty %}
                            <a href="{{ path('front_save_search', app.request.query.all)  }}" class="relative inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none">
                                <svg class="stroke-current h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    </div>

    <!-- msg flash -->
    {% for msg in app.flashes('success') %}
    <div class="rounded-md bg-green-50 p-4 sm:mx-24">
        <div class="flex space-x-3">
            <div class="flex-shrink-0">
                <!-- Heroicon name: check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
            </div>
            <div>
                <p class="text-sm leading-5 font-medium text-green-800">{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 sm:px-24 sm:py-12 lg:grid-cols-4 lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
        {% for property in properties %}
        <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
            <a href="{{ path('front_annonce_show', { 'id': property.id }) }}">
                {% if property.imageName is not null %}
                <img src="{{ uploaded_property_path ~ '/' ~ property.imageName }}" alt="Image du bien"
                    class="h-auto w-full mx-auto rounded" style="max-height: 192px; max-width: 284px;">
                {% else %}
                <img src="https://images.unsplash.com/photo-1593696140826-c58b021acf8b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                    alt="Image du bien" class="rounded-t-lg object-cover h-48 w-full" style="max-height: 192px; max-width: 284px;" />
                {% endif %}

            </a>
            <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">{{ property.type | capitalize }} à {{
                    property.city }}</h2>
                <p class="text-sm text-gray-500">{{ property.description }}</p>
                <p class="mt-2 w-full inline-flex items-end justify-between">
                    <span class="block text-xl font-semibold text-gray-900 tracking-wide">{{ property.price |
                        number_format(0, ',', ' ') }} €</span>
                    <span class="block text-lg font-medium text-gray-500">{{ property.area }}m<sup>2</sup></span>
                </p>
            </div>

            <div class="pt-2 pb-6 px-6">
                <ul class="mt-6 space-y-4">
                    <li class="flex space-x-3">
                        <!-- Heroicon name: solid/check -->
                        <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="text-sm text-gray-500">Ascenseur</span>
                    </li>

                    <li class="flex space-x-3">
                        <!-- Heroicon name: solid/check -->
                        <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="text-sm text-gray-500">Espace de stockage</span>
                    </li>

                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}