{% extends 'base_front.html.twig' %}

{% block title %}{{ appName }} - Rendez-vous{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 w-3/5 mx-auto py-4">
        <div class="w-full rounded-lg shadow-md py-4 mt-4">
            <div class="font-semibold text-lg text-gray-700 text-left px-4 tracking-wide">Mes demandes de rendez-vous <button>Planning</button></div>
            {% if contacts is not empty %}
                <div class="grid grid-cols-1">
                    {% for contact in contacts %}
                        <div class="w-11/12 mx-auto shadow-md p-0 mt-4 grid grid-cols-12">
                            <div class="text-left p-0 col-span-2 tracking-wide">
                                <img
                                        src="https://cache.marieclaire.fr/data/photo/w1000_ci/5o/illico-travaux-conseils-extension-maison-bois.jpg"
                                        alt="Placeholder"
                                        class="object-cover h-16"
                                />
                            </div>
                            <div class="text-gray-700 text-left col-span-8 px-4 tracking-wide">
                                {{ contact.property.address }} {{ contact.property.zipcode }} {{ contact.property.city }}
                                <br>
                                Prospect : {{ contact.prospect.firstname | uppercaseFirst }} {{ contact.prospect.lastname | uppercaseFirst }}
                            </div>
                            <div class="text-lg text-gray-700 text-center col-span-2 px-4 tracking-wide">
                                <b>Status</b><br>
                                {% if contact.status == 'EN_ATTENTE' %}
                                        En attente
                                {% elseif contact.status == 'EN_COURS' %}
                                    En cours
                                {% elseif contact.status == 'TERMINE' %}
                                    Terminé
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                Aucun rendez-vous.
            {% endif %}
        </div>
    </div>

    <style>
        .hide-scroll-bar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .hide-scroll-bar::-webkit-scrollbar {
            display: none;
        }
    </style>
{% endblock %}
