{% extends 'base_front.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div class="lg:w-1/3 mx-auto lg:pt-40 pt-10 px-4">
	<h1 class="text-4xl text-center text-gray-900 mb-4 font-bold">Connexion</h1>
		<form action="#" method="POST" id="login-form">
			{% if error %}
				<div class="bg-red-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto">
				<svg viewBox="0 0 24 24" class="text-red-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
				<path fill="currentColor" d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z"></path>
				</svg>
				<span class="text-red-800">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
			</div>
			{% endif %}


			{% include "components/alert.html.twig" %}

			<div class="shadow overflow-hidden sm:rounded-md">
				<div class="px-4 py-5 bg-white sm:p-6">
					<div class="">
						<!-- Email -->
						<div class="col-span-6 sm:col-span-4 mb-2">
							<label for="inputEmail" class="block text-sm font-medium text-gray-900">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-1 w-full shadow-sm border focus:outline-none sm:text-sm border-gray-300 rounded-md py-2 px-3 mt-2" required autofocus>
						</div>

						<!-- Mot de passe -->
						<div class="col-span-6 sm:col-span-4 mb-2">
							<label for="inputPassword" class="block text-sm font-medium text-gray-900">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="mt-1 w-full shadow-sm border focus:outline-none sm:text-sm border-gray-300 rounded-md py-2 px-3 mt-2" required>
						</div>

						{# See https://symfony.com/doc/current/security/remember_me.html #}
						<div class="mb-3">
							<a href="{{ path('app_forgotten_password') }}" class="text-red text-xs italic">Mot de passe oublié ?</a>
						</div>
						
						<div class="">
							<div class="text-red text-xs">
								Pas encore inscrit ?
								<a href="{{ path('app_register') }}" class="ml-2 italic">
									Créer un compte</a>

								<a href="{{ path('connect_google_start') }}">
									Se connecter avec Google
								</a>
							</div>
						</div>

						<!-- Validation -->
						<div class="py-3 bg-gray-50 text-right">
							<button type="submit" z class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg w-full">
								Valider
							</button>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
