{% extends 'base_front.html.twig' %}


{% block title %}Modification du profil{% endblock %}

{% block body %}
    <div class="mt-5">

        {% include "components/alert.html.twig" %}
        
        <div class="flex justify-center px-4">
            <div class=" pt-8 md:mt-0 md:col-span-2">
                <h1 class="text-4xl text-center text-gray-900 mb-8 font-bold">Modification du profil de {{ userFullname(app.user) }}</h1>
                {% form_theme form 'themes/tailwindcss.html.twig' %}
                {{ form_start(form) }}

                    {{ form_row(form.firstname) }}

                    {{ form_row(form.lastname) }}

                    {{ form_row(form.email) }}

                    <button type="submit" class="mt-8 focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg mr-2 mb-4">
                        Valider les modifications
                    </button>
                
                    <a href="{{ path('front_users') }}" class="focus:outline-none text-white text-sm py-3 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg  mr-2">Retour sur le profil</a>
                {{ form_end(form) }}
                {% if not is_granted('ROLE_ADMIN') %}
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        {{ include('front/users/_delete_form.html.twig') }}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
