{% extends 'base_front.html.twig' %}


{% block title %}Modification du mot de passe de {{ userFullname(app.user) }}{% endblock %}

{% block body %}

    <div class="mt-5">
        {% for error in app.flashes('error') %}
            <div class="alert-error" role="alert">{{ error }}</div>
        {% endfor %}
        <div class="flex justify-center mx-auto">
            <div class="mt-5 md:mt-0 md:col-span-2">
                <h1 class="text-4xl text-center text-gray-900 mb-16">Modification du mot de passe de {{ userFullname(app.user) }}</h1>

                <div class="w-2/3 mx-auto">
                    {% form_theme form 'themes/tailwindcss.html.twig' %}
                    {{ form_start(form) }}


                        <div class="text-red-600 font-bold">{{ form_errors(form.old_password) }}</div>
                        {{ form_row(form.old_password) }}

                        <div class="text-red-600 font-bold">{{ form_errors(form.password) }}</div>
                        {{ form_row(form.password) }}
                        
                        <button type="submit" class="mt-8 focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg mr-2 mb-4">
                            Modidier le mot de passe
                        </button>
                    
                        <a href="{{ path('front_users') }}" class="focus:outline-none text-white text-sm py-3 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg  mr-2">Retour sur le profil</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
