{% extends 'base_front.html.twig' %}


{% block title %}Profil de {{ app.user.firstname ~ ' ' ~ app.user.lastname }}{% endblock %}

{% block body %}

    <div class="mt-5">
        {% for success in app.flashes('success') %}
            <div class="alert-success" role="alert">{{ success }}</div>
        {% endfor %}
        <div class="flex justify-center max-w-md mx-auto">
            <div class="mt-5 md:mt-0 md:col-span-2">
                <h1 class="text-4xl text-center text-gray-900 mb-16">Profil de {{ app.user.email }}</h1>

                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                                {# <p>Nom : <strong>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</strong></p> #}
                                <p>Email : <strong>{{ app.user.email }}</strong></p>
                                <br>
                                <a href="{{ path('front_user_profil_modifier') }}" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg mr-4">Modifier le profil</a>
                                <a href="{{ path('front_user_pass_modifier') }}" class="focus:outline-none text-blue-600 text-sm py-2.5 px-5 rounded-md border border-blue-600 hover:bg-blue-50">Modifier le mot de passe</a>
                        </div>

                        <div class="px-4 py-5 bg-white sm:p-6">
                            <a href="{{ path('front_property_index') }}" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg">Voir mes biens</a>
                        </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
