{% extends 'base_back.html.twig' %}

{% block title %}Property index
{% endblock %}

{% block body %}
	<h1 class="text-2xl mt-8">Liste de vos biens</h1>

	<table class="table">
		{% if properties %}
			<thead>
				<tr>
					<th>Type</th>
					<th>Catégorie</th>
					<th>Date de construction</th>
					<th>Nb d'étages</th>
					<th>Nb de pièces</th>
					<th>Adresse</th>
					<th>Code postal</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>Vente/Location</th>
					<th>Prix du bien</th>
					<th>Actions</th>
				</tr>
			</thead>
		{% endif %}
		<tbody>
			{% for property in properties %}
				<tr>
					<td>{{ property.type }}</td>
					<td>{{ property.category }}</td>
					<td>{{ property.constructionDate ? property.constructionDate|date('Y-m-d') : '' }}</td>
					<td>{{ property.floors }}</td>
					<td>{{ property.rooms }}</td>
					<td>{{ property.address }}</td>
					<td>{{ property.zipCode }}</td>
					<td>{{ property.city }}</td>
					<td>{{ property.country }}</td>
					<td>{{ property.rentOrSale }}</td>
					<td>{{ property.price }}</td>
					<td>
						<a href="{{ path('back_property_show', {'id': property.id}) }}">Afficher le détail</a>
						<a href="{{ path('back_property_edit', {'id': property.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="38">Vous ne possédez encore aucun bien :(
						<br/>
						Vous souhaiterez certainement
						<a href="{{ path('back_property_new') }}" class="basic-link">en ajouter</a>.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if properties %}
		<form action="{{ path('back_property_new') }}">
			<button type="submit" class="button primary mt-4">Ajouter d'autres biens</button>
		</form>
	{% endif %}
{% endblock %}
