{% form_theme form 'themes/tailwindcss.html.twig' %}

{{ form_start(form, {attr: {class: "inline"}} ) }}

<div x-data="{ type: '{{ form.type.vars.value ?? " maison" }}', hasExternalStorage: {{ form.externalStorage.vars.checked
	? 'true' : 'false' }} }">
	<section class="sm:grid sm:grid-cols-2 gap-8">
		<div class="shadow sm:rounded-md sm:overflow-hidden bg-gray-50 ">
			<div class="px-4 py-5 space-y-6 sm:p-6">
				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Informations principales</h3>
				<div>
					<div class="grid grid-cols-2 gap-6">
						<div>{{ form_row(form.type, {attr: {'x-model': 'type'}}) }}</div>
						<div>{{ form_row(form.category) }}</div>
						<div>{{ form_row(form.rentOrSale) }}</div>
						<div>{{ form_row(form.rooms) }}</div>
						<div class="col-span-2">{{ form_row(form.description) }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shadow sm:rounded-md sm:overflow-hidden bg-gray-50 ">
			<div class="px-4 py-5 space-y-6 sm:p-6">
				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Localication et date</h3>

				<div>
					<div class="grid grid-cols-2 gap-6">
						<div class="col-span-2">{{ form_row(form.address) }}</div>
						<div>{{ form_row(form.city) }}</div>
						<div>{{ form_row(form.zipCode) }}</div>
						<div class="col-span-2">{{ form_row(form.constructionDate) }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shadow sm:rounded-md sm:overflow-hidden bg-gray-50">
			<div class="px-4 py-5 space-y-6 sm:p-6">
				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Espace</h3>

				<div>
					<div class="grid grid-cols-3 gap-6">
						<div>{{ form_row(form.area) }}</div>
						<div>{{ form_row(form.bedrooms) }}</div>
						<div>{{ form_row(form.toilets) }}</div>
						<div>{{ form_row(form.bathrooms) }}</div>
						<div x-show="type == 'appartement'">{{ form_row(form.floor) }}</div>
						<div>{{ form_row(form.floors) }}</div>
					</div>
				</div>

				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Contenu</h3>
				<div>
					<div class="grid grid-cols-2 gap-6">
						<div>{{ form_row(form.isFurnished) }}</div>
						<div>{{ form_row(form.containsStorage) }}</div>
						<div>{{ form_row(form.ground) }}</div>
						<div>{{ form_row(form.heater) }}</div>
						<div>{{ form_row(form.isKitchenSeparated) }}</div>
						<div>{{ form_row(form.fireplace) }}</div>
						<div>{{ form_row(form.elevator) }}</div>
						<div>{{ form_row(form.guarding) }}</div>
						<div>{{ form_row(form.containDiningRoom) }}</div>
						<div>{{ form_row(form.externalStorage, {attr: {'x-model': 'hasExternalStorage'}}) }}</div>
						<div x-show="hasExternalStorage" class="col-span-2">{{ form_row(form.areaExternalStorage) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shadow sm:rounded-md sm:overflow-hidden bg-gray-50">
			<div class="px-4 py-5 space-y-6 sm:p-6">
				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Consommation</h3>

				<div>
					<div class="grid grid-cols-2 gap-6">
						<div>{{ form_row(form.energyConsumption) }}</div>
						<div>{{ form_row(form.gasEmissions) }}</div>
					</div>
				</div>

				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Prix</h3>

				<div>
					<div class="grid grid-cols-2 gap-6">
						<div>{{ form_row(form.price) }}</div>
						<div>{{ form_row(form.charges) }}</div>
						<div>{{ form_row(form.guarentee) }}</div>
						<div>{{ form_row(form.feesPrice) }}</div>
						<div>{{ form_row(form.inventoryPrice) }}</div>
					</div>
				</div>

				<h3 class="text-3xl font-semibold leading-6 text-gray-900 mb-6">Publication</h3>

				<div>
					<div class="grid grid-cols-1 gap-6">
						<div>{{ form_row(form.published) }}</div>
						<div>{{ form_row(form.imageFile) }}</div>
					</div>
				</div>

				<div>
					<button type="submit"
						class=" focus:outline-none font-semibold text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg mr-2 ">
						{{ button_label|default('Ajouter ce bien') }}
					</button>

					<a href="{{ path('front_property_index') }}"
						class="focus:outline-none font-semibold text-gray-600 text-sm py-2.5 px-5 rounded-md border border-gray-600 hover:bg-gray-50 mr-2">Accéder
						à la liste des biens</a>


					{% if app.request.attributes.get('_route') == 'front_property_edit' %}
					<button type="button"
						class="focus:outline-none font-semibold text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg"
						onclick="if(confirm('Êtes vous sûr de vouloir supprimer votre bien? (cette action est définitive)')) { forms.delete_property.submit() }">Suppression
						du bien</button>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</div>
{{ form_end(form) }}

{# Le formulaire de suppression est situé à l'extétieur pour ne pas entrer en conflit avec celui pour la modification #}
{% if app.request.attributes.get('_route') == 'front_property_edit' %}
<form name="delete_property" method="post" class="hidden"
	action="{{ path('front_property_delete', {'id': property.id}) }}">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
</form>
{% endif %}