{% form_theme form 'themes/tailwindcss.html.twig' %}

{{ form_start(form) }}

<div class="flex">
	<div>{{ form_row(form.type) }}</div>
	<div>{{ form_row(form.category) }}</div>
</div>

{{ form_end(form) }}

<button class="inline-flex items-center px-8 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ button_label|default('Ajouter ce bien') }}</button>
<a href="{{ path('front_property_index') }}" class="inline-flex items-center px-8 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Retour à la liste des biens</a>