{% extends 'base_front.html.twig' %}

{% block body %}
<main class="mx-4 mb-4">
	<header class="flex flex-col sm:flex-row items-center justify-center mt-4 mb-8">
		<h1 class="text-5xl font-bold text-center">Liste de vos biens</h1>
		<a href="{{ path('front_property_new') }}"
			class="ml-3 flex flex-row items-center text-xl rounded-full px-4 mr-2 bg-green-500 hover:bg-green-600 text-white p-2 rounded  leading-none">
			{% include "components/icons/plus-add.svg" with {class: "mr-1 w-5 h-5"} %}
			Ajouter
		</a>
	</header>

	{% include "components/alert.html.twig" %}

	{% if paginator is empty %}
	<div class="mt-4">Vous n'avez pas encore renseignés de biens</div>
	{% endif %}

	<section class="grid grid-cols-1 lg:grid-cols-2 gap-5">
		{% for property in paginator %}
		<div class="flex flex-col lg:flex-row mx-auto items-center justify-between bg-gray-100 rounded
	dark:bg-gray-800 px-8 py-6 mb-6">
			<!-- card -->
			<div class="flex flex-row">
				<img class="h-12 w-12 rounded-full object-cover"
					src="https://cache.marieclaire.fr/data/photo/w1000_ci/5o/illico-travaux-conseils-extension-maison-bois.jpg"
					alt="infamous">

				<div class="flex flex-col ml-6">
					<span class="text-lg font-bold"><span class="capitalize">{{ property.type }}</span> à <span
							class="capitalize">{{ property.city }}</span> ({{ property.rentOrSale == 'sale' ? 'Vente' : 'Location' }} pour {{ property.price }} €)</span>
					<div class="mt-4 flex">
						<div class="flex">
							<svg class="h-5 w-5 fill-current
						dark:text-gray-300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
								id="Capa_1" x="0px" y="0px" width="460.298px" height="460.297px"
								viewBox="0 0 460.298 460.297" style="enable-background:new 0 0 460.298 460.297;"
								xml:space="preserve">
								<g>
									<g>
										<path
											d="M230.149,120.939L65.986,256.274c0,0.191-0.048,0.472-0.144,0.855c-0.094,0.38-0.144,0.656-0.144,0.852v137.041    c0,4.948,1.809,9.236,5.426,12.847c3.616,3.613,7.898,5.431,12.847,5.431h109.63V303.664h73.097v109.64h109.629    c4.948,0,9.236-1.814,12.847-5.435c3.617-3.607,5.432-7.898,5.432-12.847V257.981c0-0.76-0.104-1.334-0.288-1.707L230.149,120.939    z" />
										<path
											d="M457.122,225.438L394.6,173.476V56.989c0-2.663-0.856-4.853-2.574-6.567c-1.704-1.712-3.894-2.568-6.563-2.568h-54.816    c-2.666,0-4.855,0.856-6.57,2.568c-1.711,1.714-2.566,3.905-2.566,6.567v55.673l-69.662-58.245    c-6.084-4.949-13.318-7.423-21.694-7.423c-8.375,0-15.608,2.474-21.698,7.423L3.172,225.438c-1.903,1.52-2.946,3.566-3.14,6.136    c-0.193,2.568,0.472,4.811,1.997,6.713l17.701,21.128c1.525,1.712,3.521,2.759,5.996,3.142c2.285,0.192,4.57-0.476,6.855-1.998    L230.149,95.817l197.57,164.741c1.526,1.328,3.521,1.991,5.996,1.991h0.858c2.471-0.376,4.463-1.43,5.996-3.138l17.703-21.125    c1.522-1.906,2.189-4.145,1.991-6.716C460.068,229.007,459.021,226.961,457.122,225.438z" />
									</g>
								</g>
							</svg>
							<span class="ml-2 text-sm text-gray-600
							dark:text-gray-300 capitalize">
								{{ property.category }}
							</span>
						</div>

						<div class="flex ml-6">
							<svg class="h-5 w-5 fill-current
							dark:text-gray-300" viewBox="0 0 24 24">
								<path d="M19
								19H5V8h14m-3-7v2H8V1H6v2H5c-1.11
								0-2 .89-2 2v14a2 2 0 002 2h14a2 2
								0 002-2V5a2 2 0 00-2-2h-1V1m-1
								11h-5v5h5v-5z"></path>
							</svg>
							<span class="ml-2 text-sm text-gray-600
							dark:text-gray-300 ">
								Datant du {{ property.constructionDate ? property.constructionDate|date('Y-m-d') : '' }}
							</span>
						</div>

						<div class="flex ml-6">
							<svg class="h-5 w-5 fill-current
						dark:text-gray-300" xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 512 512" width="512">
								<g id="_01-home" data-name="01-home">
									<g id="glyph">
										<path
											d="m256 4c-108.075 0-196 87.925-196 196 0 52.5 31.807 119.92 94.537 200.378a1065.816 1065.816 0 0 0 93.169 104.294 12 12 0 0 0 16.588 0 1065.816 1065.816 0 0 0 93.169-104.294c62.73-80.458 94.537-147.878 94.537-200.378 0-108.075-87.925-196-196-196zm0 336c-77.2 0-140-62.8-140-140s62.8-140 140-140 140 62.8 140 140-62.8 140-140 140z" />
										<path
											d="m352.072 183.121-88-80a12 12 0 0 0 -16.144 0l-88 80a12.006 12.006 0 0 0 -2.23 15.039 12.331 12.331 0 0 0 10.66 5.84h11.642v76a12 12 0 0 0 12 12h28a12 12 0 0 0 12-12v-44a12 12 0 0 1 12-12h24a12 12 0 0 1 12 12v44a12 12 0 0 0 12 12h28a12 12 0 0 0 12-12v-76h11.642a12.331 12.331 0 0 0 10.66-5.84 12.006 12.006 0 0 0 -2.23-15.039z" />
									</g>
								</g>
							</svg>

							<span class="ml-2 text-sm text-gray-600
							dark:text-gray-300 capitalize">
								{{ property.address ~ ' ' ~ property.zipCode ~ ' ' ~ property.city }}
							</span>
						</div>
					</div>

					<div class="mt-4 flex">

						<a href="{{ path('front_annonce_show', {'id': property.id}) }}" class="flex items-center
						focus:outline-none border rounded-full
						py-2 px-6 leading-none border-gray-500
						dark:border-gray-600 select-none
						hover:bg-blue-400 hover:text-white
						dark-hover:text-gray-200">
							<svg class="h-5 w-5 fill-current mr-2" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
								width="511.626px" height="511.626px" viewBox="0 0 511.626 511.626"
								style="enable-background:new 0 0 511.626 511.626;" xml:space="preserve">
								<g>
									<path
										d="M505.918,236.117c-26.651-43.587-62.485-78.609-107.497-105.065c-45.015-26.457-92.549-39.687-142.608-39.687   c-50.059,0-97.595,13.225-142.61,39.687C68.187,157.508,32.355,192.53,5.708,236.117C1.903,242.778,0,249.345,0,255.818   c0,6.473,1.903,13.04,5.708,19.699c26.647,43.589,62.479,78.614,107.495,105.064c45.015,26.46,92.551,39.68,142.61,39.68   c50.06,0,97.594-13.176,142.608-39.536c45.012-26.361,80.852-61.432,107.497-105.208c3.806-6.659,5.708-13.223,5.708-19.699   C511.626,249.345,509.724,242.778,505.918,236.117z M194.568,158.03c17.034-17.034,37.447-25.554,61.242-25.554   c3.805,0,7.043,1.336,9.709,3.999c2.662,2.664,4,5.901,4,9.707c0,3.809-1.338,7.044-3.994,9.704   c-2.662,2.667-5.902,3.999-9.708,3.999c-16.368,0-30.362,5.808-41.971,17.416c-11.613,11.615-17.416,25.603-17.416,41.971   c0,3.811-1.336,7.044-3.999,9.71c-2.667,2.668-5.901,3.999-9.707,3.999c-3.809,0-7.044-1.334-9.71-3.999   c-2.667-2.666-3.999-5.903-3.999-9.71C169.015,195.482,177.535,175.065,194.568,158.03z M379.867,349.04   c-38.164,23.12-79.514,34.687-124.054,34.687c-44.539,0-85.889-11.56-124.051-34.687s-69.901-54.2-95.215-93.222   c28.931-44.921,65.19-78.518,108.777-100.783c-11.61,19.792-17.417,41.207-17.417,64.236c0,35.216,12.517,65.329,37.544,90.362   s55.151,37.544,90.362,37.544c35.214,0,65.329-12.518,90.362-37.544s37.545-55.146,37.545-90.362   c0-23.029-5.808-44.447-17.419-64.236c43.585,22.265,79.846,55.865,108.776,100.783C449.767,294.84,418.031,325.913,379.867,349.04   z" />
								</g>
							</svg>

							<span>Voir l'annonce</span>
						</a>
						<a href="{{ path('front_property_edit', {'id': property.id}) }}" class="flex items-center ml-4
						focus:outline-none border rounded-full
						py-2 px-6 leading-none border-blue-500
						dark:border-blue-600 select-none
						hover:bg-blue-400 hover:text-white
						dark-hover:text-gray-200">
							<svg class="h-5 w-5 fill-current mr-2
							text-blue-600" viewBox="0 0 576 512">
								<path d="M402.3 344.9l32-32c5-5
								13.7-1.5 13.7 5.7V464c0 26.5-21.5
								48-48 48H48c-26.5
								0-48-21.5-48-48V112c0-26.5
								21.5-48 48-48h273.5c7.1 0 10.7
								8.6 5.7 13.7l-32 32c-1.5 1.5-3.5
								2.3-5.7
								2.3H48v352h352V350.5c0-2.1.8-4.1
								2.3-5.6zm156.6-201.8L296.3
								405.7l-90.4 10c-26.2
								2.9-48.5-19.2-45.6-45.6l10-90.4L432.9
								17.1c22.9-22.9 59.9-22.9 82.7
								0l43.2 43.2c22.9 22.9 22.9 60 .1
								82.8zM460.1 174L402 115.9 216.2
								301.8l-7.3 65.3 65.3-7.3L460.1
								174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8
								0L436 82l58.1 58.1
								30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path>
							</svg>
							<span>Mettre à jour</span>
						</a>

					</div>
				</div>
			</div>
{# 
			<div class="flex flex-col my-auto mt-5 mx-auto">
				<span class="font-semibold text-green-500
				dark:text-green-300 text-3xl text-center mb-2">
					{{ property.rentOrSale == 'sale' ? 'A vendre' : 'A louer' }}
				</span>
				<span class="font-semibold text-green-500
				dark:text-green-300 text-2xl text-center">
					{{ property.price }} €
				</span>
				<span class="text-sm text-gray-700 dark:text-gray-400
				mt-2 text-center">
					<span class="text-lg">{{ property.area }} m²</span>
					<svg class="h-5 w-5 m-auto fill-current
				dark:text-gray-300 inline" xmlns="http://www.w3.org/2000/svg" id="Capa_1"
						enable-background="new 0 0 511.973 511.973" height="512" viewBox="0 0 511.973 511.973"
						width="512">
						<path
							d="m255.989 0-221.693 127.993v255.985l221.693 127.994 221.688-127.994v-255.985zm176.683 136.651-176.683 101.965-176.688-101.965 176.688-102.01zm-368.376 25.977 176.693 101.969v204.074l-176.693-102.013zm206.693 306.043v-204.074l176.688-101.968v204.03z" />
					</svg>
				</span>

			</div> #}
		</div>
		{% endfor %}
	</section>

	<aside class="sm:flex-1 flex flex-col sm:flex-row items-start sm:items-center justify-center sm:justify-between mt-4 work-sans">
		<p class="text-sm leading-5 text-blue-700">
			Affichage des éléments
			<span class="font-medium">{{ (paginator.getItemNumberPerPage * paginator.getCurrentPageNumber) -
				paginator.getItemNumberPerPage + 1 }}</span>
			à
			<span class="font-medium">{{ paginator.getItemNumberPerPage * paginator.getCurrentPageNumber }}</span>
			sur un total de
			<span class="font-medium">{{ paginator.getTotalItemCount }}</span>
			résultats
		</p>
		<div>
			{{ knp_pagination_render(paginator) }}
		</div>
	</aside>
</main>
{% endblock %}